<%= turbo_stream.replace "monthly_entries_list" do %>
  <div id="monthly_entries_list">
    <% @entries.each do |entry| %>
      <%= render "shared/monthly_entry", entry: entry, year: @year, month: @month %>
    <% end %>
  </div>
<% end %>

<%= turbo_stream.replace "monthly_entry_form" do %>
  <div id="monthly_entry_form">
    <%= render "shared/monthly_entry_form", year: @year, month: @month %>
  </div>
<% end %>
